@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .container {
        background: url('../images/hero-bg-mobile.png') no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content,
    .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .testimonials .testimonials-heading {
        max-width: 100%;
        text-align: center;
    }

    .testimonials .testimonials-grid,
    .pricing .pricing-grid,
    .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid>div {
        text-align: center;
    }

    /* Text */
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }
}